body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar-img {
  cursor: pointer;
}

.wrapper {
  background-color: red;
}

.sidebar-img:hover {
  opacity: 0.26;
  border-radius: 12px;
}

.sidebar-img-dashboard {
  height: 50px;
  width: 50px;
}

.sidebar-img-home {
  height: 50px;
  width: 50px;
  color: white;
}
